@using Blazored.SessionStorage;
@inject IConfiguration conf
@inject ISyncSessionStorageService store

<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: @conf["menuBgColor"]">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Formation</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link active" href="">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="brands">Marques</NavLink>
                </li>
                <li class="nav-item"><NavLink class="nav-link" href="cars/list">Lister voiture</NavLink></li>
                <li class="nav-item"><NavLink class="nav-link" href="cars/add">Ajouter voiture</NavLink></li>
                <li class="nav-item"><NavLink class="nav-link" href="lazy">Lazy</NavLink></li>
            </ul>
            <div class="d-flex">
                @*@name
                <NavLink class="nav-link" href="login">Se connecter</NavLink>*@
                <LoginComponent />
            </div>
            
        </div>
    </div>
</nav>

@code {
    private string? name;

    protected override Task OnInitializedAsync()
    {
        store.Changed += (object sender, ChangedEventArgs args) =>
        {
            //Console.WriteLine($"KEY: {args.Key}");
            if (args.Key == "USER"){
                name = (args.NewValue as User)?.FullName;
                //name = store.GetItem<User>("USER")?.FullName;
                StateHasChanged();
            }
        };
        name = store.GetItem<User>("USER")?.FullName;


        var url = conf.GetValue<string>("urlApiAuth");
        return base.OnInitializedAsync();
    }
}
