@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Authorization;
@using MyComponentsLibrary.Components

@*@attribute [Authorize(Policy = "")]*@

<Toast />
<div class="page">
    <Menu />
    <main>
        <div class="container-fluid">
            @Body
            @*<ErrorBoundary>
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent>
                    <p>Une erreur soft au layout!</p>
                </ErrorContent>
            </ErrorBoundary>*@
        </div>
    </main>

</div>
